$theme-color: #014fa8;
$theme-color1: #2335e2;
$theme-color2: #4e2aff;
/*
Blue-
$theme-color: #014fa8;
$theme-color1: #2335e2;
$theme-color2: #4e2aff;

Yellow-
$theme-color: #c96f01;
$theme-color1: #FF8C00;
$theme-color2: #e67f01;

Red-
$theme-color: #ba2524;
$theme-color1: #de302f;
$theme-color2: #cc2a29;

Purple-
$theme-color: #4435b8;
$theme-color1: #6054c2;
$theme-color2: #5447bc;

Pink-
$theme-color: #d4174a;
$theme-color1: #FF2761;
$theme-color2: #ed1c54;

Orange-
$theme-color: #b95716;
$theme-color1: #dd6b1f;
$theme-color2: #cc611a;

Green-
$theme-color: #24a55a;
$theme-color1: #2dcc70;
$theme-color2: #29b965;

Gold-
$theme-color: #d2b203;
$theme-color1: #FFD700;
$theme-color2: #e7c406;

Coral-
$theme-color: #fe5213;
$theme-color1: #FF7F50;
$theme-color2: #f96833;

Equa-
$theme-color: #02d1d1;
$theme-color1: #00FFFF;
$theme-color2: #02e8e8;

*/

$body-color: #777;
$dark-color: #1b1b1b;
$grey-bg : #ebebeb;
$theme-dark-bg:#001040;


$bgcolor-white:#fff;

$light-color: #252525;
$checkboxBg: #f2f2f2;
$checkColor: #024fa9;
$color-green: #09a223;
$light-yellow: #fcfe1e !important;
$dark-orange: #ff8500  !important;

$bg-Jazzberry: #a3063f !important;
$color-dull: #a7753a !important;
$muesli: #a67c52 !important;
$lawngreen: #65ba2b !important;
$bg-lawngreen: #65ba2b !important;
$bg-pink-light: #f1325b !important;
$light-orange: #e04b23 !important;
$bg-orange-light: #f75f30;
$brd-dark: #1e1e1e !important;
$warn-dark: #efad4d !important;
$light-red: #d9544f;

$bg-blue: #3498db;
$bg-sea: #1abc9c;
$bg-yellow: #f1c40f;
$bg-purple: #9b6bcc;
$bg-aqua: #27d7e7;
$bg-brown: #9c8061;
$bg-dark-blue: #4765a0;
$bg-light-green: #79d5b3;

/*================Border color================*/
$brd-theme: #014fa8 !important;
$brd-muesli: #a67c52 !important;
$brd-lawngreen: #65ba2b !important;
$brd-silver: #c2c2c2 !important;
$brd-pink-light: #f1325b !important;
$brd-warn-dark: #efad4d !important;
$brd-gray: #ebebeb;

$malachite: #25d366 !important;

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
$main-font:'Lato', sans-serif;
